@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@layer components {

  .mainheader {
    @apply text-6xl mb-10
  }
  .subheader-container {
    @apply inline-flex items-center
  }
  .subheader-gray {
    @apply text-gray-400 text-xs tracking-widest mt-0.5
  }
  .subheader-black {
    @apply font-medium text-gray-900
  }
  .link-container {
    @apply text-indigo-500 inline-flex items-center
  }

  /* icons */

  .icon-container {
    @apply text-gray-400 mr-3 inline-flex items-center leading-none text-sm;
  }
  .icon {
    @apply w-4 h-4 mr-1
  }

  /* images */

  .img-view {
    @apply lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded
  }

  /* posts */

  .post-title-container {
    @apply px-5 pt-3 pb-0 flex flex-wrap w-full flex-col items-center text-center
  }
  .post-title {
    @apply sm:text-5xl mb-4 font-medium text-gray-900
  }
  .post-body {
    @apply leading-relaxed mb-8
  }
  .getAllPosts-container {
    @apply p-6 flex flex-col items-start
  }
  .showPost-container {
    @apply container mx-auto flex px-5 py-4 items-center justify-center flex-col
  }

  /* buttons */

  .btn-primary {
    @apply text-white bg-indigo-600 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded 
  }
  .btn-primary-container {
    @apply flex flex-wrap w-full flex-col items-center text-center pb-3
  }
  .btn-secondary {
    @apply text-white w-1/2 bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg
  }

  /* form */
  .form-container {
    @apply flex justify-center mx-10 my-10
  }
  .form-control {
    @apply bg-gray-100 rounded-lg p-8 flex flex-col mx-5 my-5 w-3/4
  }
  .form-group {
    @apply relative mb-4
  }
  .form-label {
    @apply leading-7 text-sm text-gray-600
  }
  .form-input {
    @apply w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out
  }
}